/*
  * FUENTES: Noto Sans JP, Ubuntu, Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    color: #e2e2e2;
    background-color: #171717;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
  }
  
  
  h1,
  h2 {
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #e2e2e2;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  p,
  ul,
  li {
    font-family: "Noto Sans JP", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #c5c5c5;
  }
  a {
    text-decoration: none;
    color: inherit;
    color: #c5c5c5;
  }
  a:hover {
    text-decoration: underline;
  }
  
  /* HEADER */
  
  .header {
    margin: 25px 130px 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .header .logo h1 a {
    text-decoration: none;
    color: #fff;
  }
  
  .header .logo h1 {
    font-size: 40px;
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-weight: 700;
    user-select: none;
    margin: 0;
    color: #fff;
  }
  
  .header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .header .nav .nav-list li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Ubuntu", "Roboto", sans-serif;
    font-weight: 400;
  }
  
  .header .nav .nav-list li:nth-child(1) {
    margin-left: 15px;
  }
  
  .header .nav .nav-list li a {
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .header .nav .nav-list li a:hover {
    background-color: rgba(232, 232, 232, 0.1);
    color: #fff;
  }
  
  .search {
    position: relative;
    width: 40px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 40px;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .search.active {
    width: 300px;
  }
  
  .search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .search .icon::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    transform: translate(-2px, -2px);
  }
  
  .search .icon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 7px;
    background: #000;
    transform: translate(6px, 6px) rotate(315deg);
  }
  
  .search .input {
    position: relative;
    width: 300px;
    height: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search .input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 80px 0 0;
    background: #e2e2e2;
    color: #171717;
    font-family: "Noto Sans JP", "Roboto", sans-serif;
  }
  
  .clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .clear::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #171717;
    transform: rotate(45deg);
  }
  
  .clear::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 15px;
    background: #171717;
    transform: rotate(315deg);
  }


/* SECTION */

.section {
    margin: 25px 130px 0 130px;
}

.section h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Ubuntu", "Roboto", sans-serif;
    color: #E2E2E2;
}

.section h1 i {
    color: #FB3640;
}


/*
  SECCION GAMBAR 
*/

.section .img-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 44px;
  width: 100%;
  justify-content: space-between;
}

.section .img-box img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  margin-bottom: 10px;
}
.section p {
  font-size: small;
  font-weight: 400;
  text-align: justify;
}



/*
  PAGINATION
*/

.pagination {
  margin: 44px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination ul {
  display: flex; 
  background: #fff;
  background: #E2E2E2;
  background: transparent;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid #f1f1f1;
}

.pagination ul li {
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  color: #000;
  color: #C5C5C5;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}

.pagination ul li.dots {
  cursor: default;
}


.pagination ul li.btn { 
  padding: 0 20px;
}

.pagination ul li.prev {
  border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
  border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
  color: #fff;
  background: #20b2aa;
  background: #FB3640;
}


    /*  FOOTER  */
    .footer-basic {
      padding:40px 0;
      background-color:#ffffff;
      color:#4b4c4d;
    }
    
    .footer-basic ul {
      padding:0;
      list-style:none;
      text-align:center;
      font-size:18px;
      line-height:1.6;
      margin-bottom:0;
    }
    
    .footer-basic li {
      padding:0 10px;
    }
    
    .footer-basic ul a {
      color:inherit;
      text-decoration:none;
      opacity:0.8;
    }
    
    .footer-basic ul a:hover {
      opacity:1;
    }
    
    .footer-basic .social {
      text-align:center;
      padding-bottom:25px;
    }
    
    .footer-basic .social > a {
      font-size:24px;
      width:40px;
      height:40px;
      line-height:40px;
      display:inline-block;
      text-align:center;
      border-radius:50%;
      border:1px solid #ccc;
      margin:0 8px;
      color:inherit;
      opacity:0.75;
    }
    
    .footer-basic .social > a:hover {
      opacity:0.9;
    }
    
    .footer-basic .copyright {
      margin-top:15px;
      text-align:center;
      font-size:13px;
      color:#aaa;
      margin-bottom:0;
    }